/* src/App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f9;
}

 h2, h3 {
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.project-card {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-left: 5px solid #6b73ff;
}

.project-card:hover {
  transform: scale(1.10);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}


#about, #projects, #contact {
  padding-top: 80px;
}
header nav a {
  margin: 0 15px;
  color: #200606;
  cursor: pointer;
  font-size: 1.1em;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}
